@use "../../abstracts/variables" as *;
@use "../../abstracts/mixin" as *;

.images {
    background-color: $gray;
    padding: 63px 0 63px 48px;

    @include mq($sp) {
        padding: 16px 0 58px;
    }

    &-inner {
        position: relative;
    }

    &__items {
        display: flex;

        @include mq($sp) {
            padding-left: 19px;
        }
    }

    &__items img {
        width: 360px;
        height: 360px;
        margin-left: 48px;

        @include mq($md) {
            width: 300px;
            height: 300px;
        }

        @include mq($sp) {
            width: 200px;
            height: 200px;
            margin-left: 16px;
        }
    }

    &__txt {
        position: absolute;
        z-index: 2;
        writing-mode: vertical-rl;
        /* 縦書きの方向。右から左へ縦書き */
        text-orientation: upright;
        /* 文字の向きを直立させる */
        color: $black;
        background-color: $gray;
        font-size: clamp(1.5rem, 1.148rem + 1.5vw, 2.5rem);
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.46em;
        /*未調整*/
        top: 190px;
        right: 182px;
        height: 452px;
        padding: 30px 26px 10px;
        display: flex;
        align-items: center;

        @include mq($lg) {
            height: 390px;
            right: 7%;
        }

        @include mq($md) {
            height: 350px;
        }

        @include mq($sp) {
            padding: 16px 24px;
            top: 101px;
            height: 284px;
            letter-spacing: 0.5em;
        }

        & span {
            color: $blue;
        }

        &::before {
            background: url(../images/top/interview_01.png) no-repeat center center / contain;
            content: "";
            position: absolute;
            width: 161px;
            height: 213px;
            top: 186px;
            left: -186px;

            @include mq($md) {
                width: 110px;
                top: 100px;
            }

            @include mq($sp) {
                width: 60px;
                top: 75px;
                left: -51%;
            }
        }
    }
}