@use "../../abstracts/variables" as *;
@use "../../abstracts/mixin" as *;

.sub-intro {
    position: relative;

    &::after {
        // background: url(../images/about/offline-hearing.png) no-repeat center center / contain;
        content: "";
        position: absolute;
        width: 165px;
        height: 198px;
        top: 64px;
        left: 46.5%;

        @include mq(1300px) {
            left: 71%;
        }

        @include mq($md) {
            top: 220px;
            left: 68%;
        }

        @include mq($sp) {
            width: 100px;
        }

    }

    &-inner {
        padding: 64px 0 40px 1px;

        @include mq($lg) {
            padding: 64px 20px 40px;
        }

        @include mq($md) {
            padding: 32px 20px 20px;
        }
    }

    &__txt {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8;
        margin-bottom: 64px;
        max-width: 422px;

        @include mq($md) {
            margin-bottom: 40px;
            max-width: none;
        }
    }

    &__link-lists {
        display: flex;
        gap: 24px;

        @include mq($lg) {
            gap: 12px;
        }

        @include mq($md) {
            flex-direction: column;
        }

    }
}


.about-intro::after {
    background: url(../images/about/offline-hearing.png) no-repeat center center / contain;
}

.service-intro::after {
    background: url(../images/service/paperless_01.png) no-repeat center center / contain;
}