@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.footer {
    padding: 117px 0 26px 0;
    margin-left: 280px;
    width: 100%;

    @include mq($xl) {
        padding: 117px 20px 26px 0;
    }

    @include mq($md) {
        padding: 126px 20px 26px;
        margin-left: 0;
    }

    @include mq($sp) {
        text-align: center;
    }

    &-inner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 109px;

        @include mq($lg) {
            gap: 30px;
        }

        @include mq($sp) {
            display: block;
        }
    }

    &__info-logo img {
        display: inline-block;
        width: 222px;
        margin-bottom: 39px;

        @include mq($md) {
            margin-bottom: 36px;
            ;
        }
    }

    &__info-content {
        display: flex;
        flex-direction: column;
        font-size: clamp(0.75rem, 0.662rem + 0.38vw, 1rem);
        font-weight: 400;
        line-height: 1.0;

        @include mq($sp) {
            align-items: center;
        }
    }

    &__info-wrapper {
        display: flex;

        & dt {
            margin-right: 15px;
            margin-bottom: 16px;

            @include mq($md) {
                margin-bottom: 20px;
            }
        }

        & dd {
            margin-bottom: 16px;
        }
    }

    &__address {
        display: flex;

        @include mq($sp) {
            display: block;
        }
    }

    &-nav {
        padding-top: 28px;

        @include mq($sp) {
            padding-top: 50px;
            padding-bottom: 22px;
        }

        &__lists {
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.0;
        }

        &__list a:hover {
            opacity: 1.0;
            border-bottom: 2px solid $black;
        }

        &__list__contact {
            position: relative;
            margin-left: 28px;

            @include mq($sp) {
                margin-left: 0;
            }
        }

        &__list__contact::before {
            position: absolute;
            content: "";
            background: url(../images/top/mail-icon.svg) no-repeat center center / contain;
            width: 20px;
            height: 20px;
            top: 0;
            left: -28px;
            z-index: 1;

            @include mq($sp) {
                top: -3px;
                left: 28%;
            }

        }



        &__wrapper {
            display: flex;
            gap: 24px;
            margin-bottom: 40px;

            @include mq($sp) {
                flex-direction: column;
                gap: 32px;
                margin-bottom: 32px;
            }
        }
    }

    &__copy {
        font-size: clamp(0.75rem, 0.662rem + 0.38vw, 1rem);
        font-weight: 400;
        line-height: 1.0;
        text-align: right;
        margin-right: 56px;

        @include mq($sp) {
            text-align: center;
            margin-right: 0;
        }


    }
}