@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.header {
    background-color: $white;
    width: 280px;
    height: 100%;
    position: fixed;
    font-weight: 700;
    line-height: 1.0;
    font-size: clamp(1rem, 0.912rem + 0.38vw, 1.25rem);
    background-color: $white;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-y: auto;

    &-inner {
        padding: 74px 40px 0;
    }

    &__logo a {
        display: inline-block;
        width: 200px;
        height: 121px;
        margin-bottom: 25px;
    }

    &-nav {
        color: $black;

        &__list {
            margin: 32px 0;
        }

        &__list:last-child {
            padding-left: 30px;
            position: relative;

            ::before {
                position: absolute;
                content: "";
                background: url(../images/top/mail-icon.svg) no-repeat center center / contain;
                width: 24px;
                height: 24px;
                top: 0;
                left: 0;
                color: $black;
            }
        }

        &__accordion-ttl {
            position: relative;
            padding-bottom: 32px;
            border-bottom: 1px solid $l-blue;
            list-style: none;

            &::-webkit-details-marker {
                display: none;
            }

            &::after {
                position: absolute;
                content: "＋";
                font-size: 24px;
                font-weight: 200;
                top: 0px;
                right: 0px;
                color: $blue;
                transition: content 0.3s;
            }

            &.open::after {
                /*ー*/
                position: absolute;
                content: "ー";
                font-size: 24px;
                font-weight: 200;
                top: 0;
                right: 0;
            }
        }

        &__accordion-box {
            padding: 32px 0;
            border-bottom: 1px solid $l-blue;
        }

        &__accordion-txt {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}