@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.header {
    background-color: $white;
    width: 280px;
    height: 100%;
    position: fixed;
    font-weight: 700;
    line-height: 1.0;
    font-size: clamp(1rem, 0.912rem + 0.38vw, 1.25rem);
    background-color: $white;
    top: 0;
    left: 0;
    z-index: 3;
    overflow-y: auto;

    @include mq($md) {
        width: 100%;
        height: 102px;
        /*後で消す*/
    }

    &-inner {
        padding: 74px 40px 0;

        @include mq($md) {
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

    }

    &__logo a {
        display: inline-block;
        width: 200px;
        height: 121px;
        margin-bottom: 25px;

        @include mq($md) {
            width: auto;
            height: auto;
            margin-bottom: 0;
            padding-top: 10px;
        }
    }

    &__logo img {
        width: 100%;

        @include mq($md) {
            width: 130px;
        }


        @include mq($sp) {
            width: 98px;
        }
    }

    &-nav {
        color: $black;

        &__list {
            margin: 32px 0;

            & a:hover {
                color: $blue;
            }
        }

        &__list:last-child {
            padding-left: 30px;
            position: relative;

            ::before {
                position: absolute;
                content: "";
                background: url(../images/top/mail-icon.svg) no-repeat center center / contain;
                width: 24px;
                height: 24px;
                top: 0;
                left: 0;
                color: $black;
            }
        }

        &__accordion-ttl {
            position: relative;
            padding-bottom: 32px;
            border-bottom: 1px solid $l-blue;
            list-style: none;

            &::-webkit-details-marker {
                display: none;
            }
        }

        &__accordion-box {
            padding: 32px 0;
            border-bottom: 1px solid $l-blue;
        }

        &__accordion-txt {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}

details[open] summary::before {
    position: absolute;
    content: "ー";
    font-size: 24px;
    font-weight: 200;
    top: 0px;
    right: 0px;
    color: $blue;
}

details summary::before {
    position: absolute;
    content: "＋";
    font-size: 24px;
    font-weight: 200;
    top: 0px;
    right: 0px;
    color: $blue;
}

/*----------------ハンバーガーメニュー-------------*/
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.header__openbtn {
    display: none;

    @include mq($md) {
        display: block;
        position: relative;
        cursor: pointer;
        background-color: $blue;
        width: 100px;
        height: 80px;
    }

    @include mq($sp) {
        width: 56px;
        height: 48px;
        /*後で消す*/
    }

    &:focus-visible {
        @include mq($md) {
            border: 2px solid $white;
            transform: scale(1.05);
            /* ボタンを少し大きくして目立たせる */
        }
    }

    span:nth-of-type(1) {
        @include mq($md) {
            top: 20px;
        }

        @include mq($sp) {
            top: 13px;
        }
    }

    span:nth-of-type(2) {
        @include mq($md) {
            top: 33px;
        }

        @include mq($sp) {
            top: 22px;
        }
    }

    span:nth-of-type(3) {
        @include mq($md) {
            top: 45px;
        }

        @include mq($sp) {
            top: 31px;
        }
    }

    /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更　※今回は文字の変更なし*/
    &.active span:nth-of-type(1) {
        @include mq($md) {
            top: 31px;
            left: 25px;
            transform: translateY(6px) rotate(-45deg);
            width: 50%;
        }

        @include mq($sp) {
            top: 19px;
            left: 15px;
            transform: translateY(6px) rotate(-45deg);
            width: 50%;
        }
    }

    &.active span:nth-of-type(2) {
        @include mq($md) {
            opacity: 0;
        }
    }

    &.active span:nth-of-type(3) {
        @include mq($md) {
            top: 44px;
            left: 25px;
            transform: translateY(-6px) rotate(45deg);
            width: 50%;
        }

        @include mq($sp) {
            top: 31px;
            left: 16px;
            transform: translateY(-6px) rotate(45deg);
            width: 50%;
        }
    }
}

/*ボタン内側*/
.header__menu-line {
    display: none;

    @include mq($md) {
        display: inline-block;
        transition: all .4s;
        /*アニメーションの設定*/
        position: absolute;
        left: 22px;
        height: 1px;
        border-radius: 5px;
        background: $white;
        color: $white;
        width: 50px;

        @include mq($sp) {
            left: 16px;
            width: 32px;
        }
    }

    /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更　※今回は文字の変更なし*/
    &.active {
        @include mq($md) {
            display: inline-block;
            transition: all .4s;
            /*アニメーションの設定*/
            position: absolute;
            left: 22px;
            height: 1px;
            border-radius: 5px;
            color: $white;
            width: 50px;
        }
    }

}



/*--------------ナビゲーション-------------------*/

@include mq($md) {
    .header-nav {
        pointer-events: none;
        /*隠れている時は触れないようにしておく*/
        /*ナビの位置と形状*/
        top: 55px;
        width: 100%;
        height: 100vh;
        /*ナビの高さ*/
        background: $blue;
        /*動き*/
        transition: all 0.3s;

        /*アクティブクラスがついたら透過なしにして最前面へ*/
        &.panelactive {
            pointer-events: auto;
            /*表示された時に解除する*/
            position: absolute;
            top: 102px;
            opacity: 1;
            z-index: 999;

            @include mq($md) {
                top: 64px
            }
        }

        /*ナビゲーションの縦スクロール*/
        &__lists {
            /*ナビの数が増えた場合縦スクロール*/
            width: 100%;
            height: 100vh;
            /*表示する高さ*/
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }


        /*ナビゲーション*/
        &__lists {
            display: block;
            /*ナビゲーション天地中央揃え*/
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0;

            &.panelactive {
                display: block;
            }
        }

        /*リストのレイアウト設定*/
        &__list {
            text-align: left;
            border-bottom: 1px solid $white;

            & a {
                display: block;
                color: $white;
                padding: 24px 16px;

                &:focus-visible {
                    border: 2px solid $white;
                    transform: scale(1.025);
                    /* ボタンを少し大きくして目立たせる */
                }
            }
        }
    }


}