@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.btn--more {
    position: relative;
    display: inline-block;
    padding: 22px 0;
    width: 240px;
    font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid $black;
    text-align: center;

    &::after {
        content: "●";
        position: absolute;
        width: 10px;
        height: 10px;
        font-size: 0.625rem;
        top: 25px;
        right: 20px;

    }

    &:hover {
        color: $white;
        background-color: $black;
        opacity: 1.0;
    }
}

.contact__btn {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    background-color: $white;
    padding: 22px 40px 22px 68px;
    margin-left: 64px;
    width: 284px;

    @include mq($lg) {
        margin-left: 40px;

    }

    @include mq($md) {
        margin-left: 0;
    }

    &::before {
        position: absolute;
        content: "";
        mask: url(../images/top/mail-icon.svg) no-repeat center center / contain;
        background-color: $black;
        width: 20px;
        height: 20px;
        top: 23px;
        left: 35px;
        z-index: 1;
        color: $white;
    }

    &::after {
        content: "●";
        position: absolute;
        width: 10px;
        height: 10px;
        font-size: 0.625rem;
        top: 29px;
        right: 20px;
    }

    &:hover {
        color: $white;
        background-color: $black;
        opacity: 1.0;

        &::before {
            background-color: $white;
        }
    }
}