@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.images {
    background-color: $gray;
    height: 486px;
    padding: 63px 0;

    &__inner {
        position: relative;
    }

    &__items img {
        width: 360px;
        height: 360px;
        z-index: 2;
    }

    &__txt {
        position: absolute;
        z-index: 3;
        writing-mode: vertical-rl;
        /* 縦書きの方向。右から左へ縦書き */
        text-orientation: upright;
        /* 文字の向きを直立させる */
        color: $black;
        background-color: $gray;
        font-size: clamp(1.5rem, 1.148rem + 1.5vw, 2.5rem);
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.47em;
        /*未調整*/
        top: 190px;
        right: 182px;
        width: 172px;
        height: 452px;

        & h2 {
            padding: 30px 26px 10px;
        }

        & span {
            color: $blue;
        }

        &::before {
            /*効かない*/
            background: url(../../images/top/interview_01.png) no-repeat center center / contain;
            content: "";
            position: absolute;
            width: 161px;
            height: 213px;
            z-index: 10;
            top: 186px;
            left: -186px;
        }
    }
}