@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.news {
    padding: 107px 0 132px;

    &__ttl {
        margin-bottom: 48px;
    }

    &__lists {
        border-top: 1px solid $l-blue;
        margin-right: 40px;
    }

    &__list {
        font-weight: 700;

        &--event {
            border: 1px solid $l-blue;
            color: $blue;
            font-size: 0.875rem;
            text-align: center;
            padding: 5px 16px;
        }

        &--date {
            color: $blue;
            font-size: 0.875rem;
            margin-left: 16px;
        }
    }
}


#modal-1,
#modal-2,
#modal-3 {
    display: none;
}

#modal-1.is-open,
#modal-2.is-open,
#modal-3.is-open {
    display: block;
}


.modal__btn {
    display: block;
    width: 100%;
    text-align: left;
    position: relative;

    & dt {
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-weight: 700;
        padding-top: 32px;

        @include mq($lg) {
            padding-top: 25px;
        }
    }

    & dt {
        margin-bottom: 24px;
    }

    & dd {
        font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
        font-weight: 700;
        line-height: 1.0;
        padding-bottom: 34px;
        border-bottom: 1px solid $l-blue;

        @include mq($lg) {
            padding-bottom: 25px;
        }
    }

    &::after {
        position: absolute;
        content: "";
        background: url(../images/top/arrow-icon.svg)no-repeat center center / contain;
        width: 16px;
        height: 16px;
        top: 42%;
        right: 27px;
    }
}

.modal__overlay {
    width: 100%;
    pointer-events: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    position: relative;
    background-color: #fff;
    padding: 16px 102px 24px;
    margin-right: 20px;
    margin-left: 20px;
    width: 860px;
    border-radius: 4px;
    overflow-y: auto;
    max-height: 80vh;
    /* モーダルの高さの上限を設定 */

    & img {
        width: 656px;
        margin-bottom: 35px;
    }

    & dt {
        margin-bottom: 16px;
    }

    & dd {
        font-size: 1.5rem;
        line-height: 1.8;
        font-weight: 700;
        margin-bottom: 16px;
    }

    & p {
        font-size: 1rem;
        line-height: 1.8;
        font-weight: 400;
        margin-bottom: 30px;
    }

    & ul {
        margin-bottom: 30px;
    }

    & li {
        list-style-type: disc;
        font-size: 1rem;
        line-height: 1.8;
        font-weight: 400;
        margin-left: 16px;
        margin-bottom: 16px;
    }
}

.modal__container01 p {
    margin-bottom: 61px;
}

.modal__close-top {
    position: absolute;
    top: 10px;
    right: 18px;
    background: transparent;
    /* 背景を透明に */
    border: none;
    font-size: 32px;
    cursor: pointer;
    /* カーソルをポインターに */
    /*color: $white;
    z-index: 4;*/
}

.modal__btn {
    display: inline-block;
}

.modal__close {
    text-align: center;
}