@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.contact {
    background-color: $gray;
    border-radius: 50px 0px 0px 50px;

    @include mq($lg) {
        border-radius: 0;
    }


    &::after {
        background: url(../images/top/financing.png) no-repeat center center / contain;
        content: "";
        position: absolute;
        width: 175px;
        height: 256px;
        z-index: 2;
        right: 22%;
        bottom: 74px;

        @include mq(1250px) {
            bottom: 170px;
        }

        @include mq($lg) {
            width: 140px;
        }

        @include mq($md) {
            right: 10%;
            width: 100px;
            bottom: 240px;
        }

        @include mq($sp) {
            right: 6%;
            width: 59px;
            bottom: 348px;
        }
    }

    &-inner {
        padding: 32px 0 55px 24px;

        @include mq($lg) {
            padding: 32px 20px 55px 24px;
        }

        @include mq($lg) {
            padding: 32px 20px 55px;
        }

    }

    &__ttl {
        margin-bottom: 38px;

        &__ttl-en {
            margin-bottom: 39px;
        }
    }

    &-wrapper {
        display: flex;
        flex-wrap: wrap;

        @include mq($md) {
            flex-direction: column;
        }
    }

    &__tel {
        border-right: 1px solid $black;
        padding: 0 32px 0 0;
        line-height: 1.0;

        @include mq($md) {
            border-right: none;
            border-bottom: 1px solid $black ;
            display: flex;
            gap: 16px;
            padding-bottom: 24px;
        }
    }

    &__number {
        border-right: 1px solid $black;
        padding: 0 32px;
        line-height: 1.0;

        @include mq($md) {
            border-right: none;
            padding: 24px 0 36px;
        }
    }

    &__tel-content,
    &__number-content {
        font-family: "Kanit", sans-serif;
        font-size: 2rem;
        font-weight: 400;

        &--small {
            font-size: 0.75rem;
            font-weight: 700;
        }
    }

    &__tel-content--small {
        padding-top: 0;

        @include mq($md) {
            padding-top: 20px;
        }

    }
}