@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.service {
    position: relative;
    padding: 49px 158px 100px 0;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        background-color: $gray;
        top: 0;
        left: 192px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 50px 0 0 50px;
        z-index: -1;
        /* 擬似要素の上に表示されるようにするため */
    }

    &::after {
        background: url(../images/top/contract_02.png) no-repeat center center / contain;
        content: "";
        position: absolute;
        width: 124px;
        height: 172px;
        z-index: 2;
        top: 92px;
        left: 59.5%;

        @include mq($lg) {
            left: 75%;
        }
    }

    @include mq($lg) {
        padding: 49px 30px 100px 0;
    }

    @include mq($md) {
        padding: 49px 20px 100px;
    }

    &-inner {
        max-width: 1004px;
    }

    &__ttl {
        margin-bottom: 64px;
    }

    &__item {
        display: flex;
        justify-content: left;
        gap: 56px;
        margin-bottom: 92px;

        @include mq($lg) {
            gap: 20px;
        }

        @include mq($md) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            gap: 35px;
        }

        & img {
            width: 516px;
            height: auto;
            z-index: 2;

            @include mq($lg) {
                width: 415px;
            }

            @include mq($md) {
                width: 90%;
                margin: 0 auto;
            }
        }
    }

    &__item01,
    &__item03 {
        flex-direction: row-reverse;

        @include mq($md) {
            flex-direction: column-reverse;
        }
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__content {
        width: 43%;
        position: relative;
        padding-top: 165px;

        @include mq($md) {
            width: 100%;
            padding-top: 0;
        }

        &-wrapper {
            padding: 0;

            @include mq($md) {
                padding: 0 20px;
            }

        }

        &--number01,
        &--number03 {
            position: absolute;
            top: 0;
            left: -30px;
            font-family: "Kanit", sans-serif;
            color: $l-blue;
            font-size: clamp(3rem, 0.359rem + 11.27vw, 10.5rem);
            font-weight: 700;
            line-height: 1.0;
            z-index: 1;

            @include mq($md) {
                top: -15px;
                left: 78%;
            }
        }

        &--number02 {
            position: absolute;
            top: 0;
            left: 72%;
            font-family: "Kanit", sans-serif;
            color: $l-blue;
            font-size: clamp(3rem, 0.359rem + 11.27vw, 10.5rem);
            font-weight: 700;
            line-height: 1.0;
            z-index: 1;

            @include mq($md) {
                top: -15px;
                left: 78%;
            }
        }

        &-ttl {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.0;
            background-color: $white;
            padding: 10px 16px;
            margin-bottom: 47px;

            @include mq($md) {
                margin-bottom: 20px;
            }
        }

        &-txt {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.8;
            margin-bottom: 28px;
        }

    }

}