@use "../../abstracts/variables" as *;
@use "../../abstracts/mixin" as *;

.form {
    &-inner {
        padding: 17px 0 70px 2px;

        @include mq($lg) {
            padding: 17px 20px 70px;
        }

        @include mq($md) {
            padding: 17px 20px 40px;
        }
    }

    &-wrapper {
        max-width: 470px;
    }

    &__box {
        display: flex;
        flex-direction: column;
    }

    &__label {
        margin-bottom: 27px;

        @include mq($sp) {
            margin-bottom: 15px;
        }

        &-name {
            display: flex;
            justify-content: space-between;

            @include mq($sp) {
                gap: 10px;
            }
        }
    }

    &__label-radio {
        margin-bottom: 21px;
    }

    &__required {
        position: relative;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.0;
        padding-left: 20px;

        &::before {
            position: absolute;
            content: "★";
            color: #FE0000;
            left: 8px;
            top: 2px;
        }
    }

    &__flex-box {
        display: flex;
        gap: 12px;
        margin-bottom: 4px;

        &-last {
            margin-bottom: 22px;
        }

        & p {
            line-height: 1.0;
        }
    }

    &__input {
        width: 100%;
        padding: 21px 0 18px 15px;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.0;
        color: $black;
        background-color: #F8F8F8;
        border: 1px solid $l-blue;
        margin-bottom: 26px;

        &::placeholder {
            color: #C2C2C2;
        }

        &-name {
            max-width: 215px;
        }

        &-last {
            margin-bottom: 47px;

            @include mq($md) {
                margin-bottom: 35px;
            }
        }
    }

    &__checkbox {
        margin-bottom: 64px;
        text-align: center;
        display: flex;
        gap: 8px;
        justify-content: center;

        @include mq($md) {
            margin-bottom: 35px;
        }
    }
}

.form__end-message {
    display: none;
}

.form__false-message {
    display: none;
}


//radioとcheckboxのスタイル//

/* デフォルトのinput要素を視覚的に隠すスタイル */
.visibility-input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* ラジオボタンとチェックボックスのテキストスタイル */
.checkbox-text,
.radio-text {
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 5px 24px;
    position: relative;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* カスタムラジオボタンのスタイル */
.radio-text::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #3273dc;
    /* カスタムボーダーカラー */
    border-radius: 50%;
}

.radio-text::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3273dc;
    /* チェック時のカスタムカラー */
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* カスタムチェックボックスのスタイル */
.checkbox-text::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 1px solid #3273dc;
    /* カスタムボーダーカラー */
}

.checkbox-text::after {
    content: "";
    display: block;
    width: 4px;
    height: 10px;
    position: absolute;
    top: 48%;
    left: 0;
    transform: rotate(45deg) skewY(0deg) translateY(-50%);
    transform-origin: center right;
    border-right: 2px solid #3273dc;
    /* チェック時のカスタムカラー */
    border-bottom: 2px solid #3273dc;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* チェックされている時のスタイル */
input[type="checkbox"]:checked+label .checkbox-text::after,
input[type="radio"]:checked+label .radio-text::after {
    opacity: 1;
}

/* フォーカス時のスタイル */
input[type="checkbox"]:focus+label .checkbox-text::before,
input[type="radio"]:focus+label .radio-text::before {
    box-shadow: 0 0 0 2px #3273dc;
    /* フォーカス時のシャドウ */
}

/* フォーカスが当たる要素全体のスタイル */
input:focus-visible {
    outline: none;
    /* デフォルトのアウトラインを削除 */
    box-shadow: 0 0 0 2px #3273dc;
    /* カスタムフォーカススタイル */
}

.submit__btn:focus-visible {
    outline: none;
    /* デフォルトのアウトラインを削除 */
    box-shadow: 0 0 0 2px $black;
    /* カスタムフォーカススタイル */
}