@use "../../abstracts/variables" as *;
@use "../../abstracts/mixin" as *;

.form {
    &-inner {
        padding: 17px 0 70px;

        @include mq($lg) {
            padding: 17px 20px 70px;
        }

        @include mq($md) {
            padding: 17px 20px 40px;
        }
    }

    &-wrapper {
        max-width: 470px;
    }

    &__box {
        display: flex;
        flex-direction: column;
    }

    &__label {
        margin-bottom: 27px;

        @include mq($sp) {
            margin-bottom: 15px;
        }

        &-name {
            display: flex;
            justify-content: space-between;

            @include mq($sp) {
                gap: 10px;
            }
        }
    }

    &__label-radio {
        margin-bottom: 21px;
    }

    &__required {
        position: relative;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.0;
        padding-left: 20px;

        &::before {
            position: absolute;
            content: "★";
            color: #FE0000;
            left: 8px;
            top: 2px;
        }
    }

    &__flex-box {
        display: flex;
        gap: 12px;
        margin-bottom: 4px;

        &-last {
            margin-bottom: 22px;
        }

        & p {
            line-height: 1.0;
        }
    }

    &__input {
        width: 100%;
        padding: 21px 0 18px 15px;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.0;
        color: $black;
        background-color: #F8F8F8;
        border: 1px solid $l-blue;
        margin-bottom: 26px;

        &::placeholder {
            color: #C2C2C2;
        }

        &-name {
            max-width: 215px;
        }

        &-last {
            margin-bottom: 47px;

            @include mq($md) {
                margin-bottom: 35px;
            }
        }
    }

    &__checkbox {
        margin-bottom: 64px;
        text-align: center;
        display: flex;
        gap: 8px;
        justify-content: center;

        @include mq($md) {
            margin-bottom: 35px;
        }
    }
}

.form__end-message {
    display: none;
}

.form__false-message {
    display: none;
}

/* 共通 */
.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.checkbox-text,
.radio-text {
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 5px 24px;
    position: relative;
}

input[type="checkbox"]:checked+label .checkbox-text::after,
input[type="radio"]:checked+label .radio-text::after {
    opacity: 1;
}

/* ラジオボタン */
.radio-text::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid $blue;
    border-radius: 50%;
}

.radio-text::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $blue;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* チェックボックス */
.checkbox-text::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 1px solid $blue;
}

.checkbox-text::after {
    content: "";
    display: block;
    width: 4px;
    height: 10px;
    position: absolute;
    top: 48%;
    left: 0;
    transform: rotate(45deg) skewY(0deg) translateY(-50%);
    transform-origin: center right;
    border-right: 2px solid $blue;
    border-bottom: 2px solid $blue;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#js-submit01:disabled {
    cursor: not-allowed;
    /* カーソルを禁止マークに */
    opacity: 0.5;
    /* 不透明度を低くして薄く表示 */
}