@use "../../abstracts/variables" as *;
@use "../../abstracts/mixin" as *;

.sub-intro {
    position: relative;

    &::after {
        background: url(../images/about/offline-hearing.png) no-repeat center center / contain;
        content: "";
        position: absolute;
        width: 165px;
        height: 198px;
        top: 64px;
        left: 46.5%;

        @include mq(1300px) {
            left: 71%;
        }

        @include mq($md) {
            top: 280px;
            left: 68%;
        }

        @include mq($sp) {
            top: 326px;

            width: 100px;
        }

    }

    &-inner {
        padding: 64px 0 40px 1px;

        @include mq($lg) {
            padding: 64px 20px 40px;
        }
    }

    &__txt {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8;
        margin-bottom: 64px;
        max-width: 422px;

        @include mq($md) {
            margin-bottom: 40px;
            max-width: none;
        }
    }

    &__link-lists {
        display: flex;
        gap: 24px;

        @include mq($md) {
            flex-direction: column;
        }

    }

    &__link-btn {
        position: relative;
        display: inline-block;
        font-size: 1rem;
        font-weight: 400;
        width: 208px;
        border: 1px solid $blue;
        border-radius: 10px;
        padding: 11px 0 34px;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            right: 48%;
            top: 70%;
            transform: translateY(-50%) rotate(45deg);
            /* 45度回転させて右向き矢印を作成 */
            width: 5px;
            height: 5px;
            border-bottom: 2px solid $blue;
            border-right: 2px solid $blue;
        }
    }
}