@use "../../abstracts/variables" as *;
@use "../../abstracts/mixin" as *;

.overview {
    &-inner {
        padding: 26px 20px 28px 0;

        @include mq($lg) {
            padding: 26px 20px 28px;
        }
    }

    &__ttl {
        margin-bottom: 64px;

        @include mq($lg) {
            margin-bottom: 40px;
        }
    }

    &__container {
        display: flex;
        gap: 157px;
        margin-bottom: 38px;

        @include mq(1260px) {
            gap: 30px;
        }

        @include mq($lg) {
            flex-wrap: wrap;
        }

        @include mq($md) {
            flex-direction: column;
            margin-bottom: 0;
        }

    }

    &__txt {
        max-width: 465px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.8;

        @include mq($lg) {
            max-width: none;
        }
    }

    &__img {
        margin-bottom: 52px;

        & img {
            max-width: 331px;
            width: 100%;
            margin-bottom: 8px;
        }

        &--ceo {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.8;
            margin-bottom: 16px;

            &-name {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.0;
                color: $blue;
            }
        }
    }

    &__list {

        & dl {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding-right: 190px;

            @include mq($xl) {
                padding-right: 0;
                max-width: 953px;
            }

        }

        & dt {
            width: 25%;
            padding: 30px 0;
            border-bottom: 1px solid $l-blue;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.0;

            @include mq($md) {
                line-height: 1.5;
                padding: 20px 0;
            }
        }

        & dd {
            width: 75%;
            padding: 30px 0;
            border-bottom: 1px solid $l-blue;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.0;

            @include mq($md) {
                padding: 20px 0 20px 10px;
                line-height: 1.5;
            }
        }
    }
}