@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.footer {
    margin-left: 280px;
    width: calc(100% - 280px);

    @include mq($xl) {
        margin-left: 0;
        width: 100%;
    }

    @include mq($sp) {
        text-align: center;
    }

    &-inner {
        width: 100%;

        padding: 117px 0 26px;

        @include mq($xl) {
            padding: 117px 20px 26px 280px;
        }

        @include mq($lg) {
            padding: 125px 20px 26px;
        }
    }

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 109px;

        @include mq($lg) {
            gap: 30px;
        }

        @include mq($sp) {
            display: block;
        }
    }

    &__info-logo img {
        display: inline-block;
        width: 222px;
        margin-bottom: 37px;

        @include mq($md) {
            margin-bottom: 35px;
            ;
        }
    }

    &__info-content {
        display: flex;
        flex-direction: column;
        font-size: clamp(0.75rem, 0.662rem + 0.38vw, 1rem);
        font-weight: 400;
        line-height: 1.0;

        @include mq($sp) {
            align-items: center;
        }
    }

    &__info-wrapper {
        display: flex;

        & dt {
            margin-right: 16px;

            @include mq($md) {
                margin-bottom: 20px;
                margin-right: 15px;
            }
        }

        & dd {
            margin-bottom: 16px;
        }

        // 定休日とその内容に特定のスタイルを適用
        &-last {

            dt,
            dd {
                margin-bottom: 6px; // 定休日のdtとddにのみ適用
            }
        }
    }

    // 他のすべてのdt, ddに16pxを適用しないために個別に調整
    &__info-wrapper:not(&__info-wrapper-last) {
        dt {
            margin-bottom: 16px; // 他のすべてのdtに16pxを適用

            @include mq($md) {
                margin-bottom: 20px;
            }
        }

        dd {
            margin-bottom: 16px; // 他のすべてのddに16pxを適用

            @include mq($md) {
                margin-bottom: 20px;
            }
        }
    }

    &__address {
        display: flex;

        @include mq($sp) {
            display: block;
        }
    }

    &-nav {
        padding-top: 25px;

        @include mq($sp) {
            padding-top: 60px;
            padding-bottom: 21px;
        }

        &__lists {
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.0;
        }

        &__list a:hover {
            opacity: 1.0;
            color: $blue;
            border-bottom: 2px solid $blue;
        }

        &__list__contact {
            position: relative;
            margin-left: 28px;

            @include mq($sp) {
                margin-left: 0;
            }
        }

        &__list-mail {
            position: relative;

            &::before {
                position: absolute;
                content: "";
                background: url(../images/top/mail-icon.svg) no-repeat center center / contain;
                width: 20px;
                height: 20px;
                top: 12px;
                left: -28px;
                transform: translateY(-50%);
                z-index: 1;
            }
        }

        &__wrapper {
            display: flex;
            gap: 24px;
            margin-bottom: 40px;

            @include mq($sp) {
                flex-direction: column;
                gap: 32px;
                margin-bottom: 32px;
            }
        }
    }

    &__copy-wrapper {
        text-align: right;

        @include mq($sp) {
            text-align: center;
            margin-right: 0;
        }
    }

    &__copy {
        font-size: clamp(0.75rem, 0.662rem + 0.38vw, 0.875rem);
        font-weight: 400;
        line-height: 1.0;
        margin-right: 36px;

        @include mq($sp) {
            margin-right: 0;
        }
    }
}