@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.header {
    background-color: $white;
    width: 280px;
    height: 100%;
    position: fixed;
    font-weight: 700;
    line-height: 1.0;
    font-size: clamp(1rem, 0.912rem + 0.38vw, 1.25rem);
    background-color: $white;
    top: 0;
    left: 0;
    z-index: 3;
    overflow-y: auto;

    @include mq($lg) {
        width: 100%;
        height: 102px;
        /*後で消す*/
    }

    &-inner {
        padding: 74px 40px 0;

        @include mq($lg) {
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

    }

    &__logo {
        z-index: 5;
    }

    &__logo a {
        display: inline-block;
        width: 200px;
        height: 121px;
        margin-bottom: 25px;

        @include mq($lg) {
            width: auto;
            height: auto;
            margin-bottom: 0;
            padding-top: 10px;
        }
    }

    &__logo img {
        width: 100%;

        @include mq($lg) {
            width: 130px;
        }

        @include mq($sp) {
            width: 98px;
        }
    }

    &-nav {
        color: $black;

        &__list {
            margin: 32px 0;
            border-bottom: 1px solid $l-blue;

            & a {
                display: block;
                padding-bottom: 31px;
            }

            & a:hover {
                color: $blue;
            }
        }

        &__list:last-child {
            padding-left: 30px;
            position: relative;

            ::before {
                position: absolute;
                content: "";
                background: url(../images/top/mail-icon.svg) no-repeat center center / contain;
                width: 24px;
                height: 24px;
                top: -2px;
                left: 0;
                color: $black;
            }
        }

        &__accordion-ttl {
            position: relative;
            list-style: none;

            &:before,
            &:after {
                background-color: $blue;
                position: absolute;
                content: "";
                display: block;
                width: 24px;
                height: 1px;
                top: 9px;
                right: 0;
                transition: transform .3s, opacity .3s;
            }

            &:before {
                transform: translateY(-50%) rotate(90deg);
                top: 10px;
            }

            &.active:before {
                transform: rotate(180deg);
            }

            &.active:after {
                opacity: 0;
            }
        }

        &__accordion-box {
            display: none;
            padding: 32px 0 7px;
            border-top: 1px solid $l-blue;

            & a {
                display: block;
                padding-bottom: 24px;
            }
        }

        &__accordion-txt {
            display: flex;
            flex-direction: column;
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 1.0;
            padding-bottom: 24px;
            padding-left: 17px;

        }
    }

}

/*----------------ハンバーガーメニュー-------------*/
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.header__openbtn {
    display: none;

    @include mq($lg) {
        display: block;
        position: relative;
        cursor: pointer;
        background-color: $blue;
        width: 100px;
        height: 80px;
        z-index: 5;
    }

    @include mq($sp) {
        width: 56px;
        height: 48px;
    }

    &:focus-visible {
        @include mq($lg) {
            border: 2px solid $white;
            transform: scale(1.05);
            /* ボタンを少し大きくして目立たせる */
        }
    }

    span:nth-of-type(1) {
        @include mq($lg) {
            top: 25px;
        }

        @include mq($sp) {
            top: 11px;
        }
    }

    span:nth-of-type(2) {
        @include mq($lg) {
            top: 38px;
        }

        @include mq($sp) {
            top: 23px;
        }
    }

    span:nth-of-type(3) {
        @include mq($lg) {
            top: 51px;
        }

        @include mq($sp) {
            top: 35px;
        }
    }

    /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更　※今回は文字の変更なし*/
    &.active span:nth-of-type(1) {
        @include mq($lg) {
            top: 31px;
            left: 25px;
            transform: translateY(6px) rotate(-45deg);
            width: 50%;
        }

        @include mq($sp) {
            top: 17px;
            left: 12px;
            transform: translateY(6px) rotate(-45deg);
            width: 57%;
        }
    }

    &.active span:nth-of-type(2) {
        @include mq($lg) {
            opacity: 0;
        }
    }

    &.active span:nth-of-type(3) {
        @include mq($lg) {
            top: 44px;
            left: 25px;
            transform: translateY(-6px) rotate(45deg);
            width: 50%;
        }

        @include mq($sp) {
            top: 29px;
            left: 12px;
            transform: translateY(-6px) rotate(45deg);
            width: 57%;
        }
    }
}

/*ボタン内側*/
.header__menu-line {
    display: none;

    @include mq($lg) {
        display: inline-block;
        transition: all .4s;
        /*アニメーションの設定*/
        position: absolute;
        left: 25px;
        height: 1px;
        border-radius: 5px;
        background: $white;
        color: $white;
        width: 50px;

        @include mq($sp) {
            left: 12px;
            width: 32px;
        }
    }

    /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更　※今回は文字の変更なし*/
    &.active {
        @include mq($lg) {
            display: inline-block;
            transition: all .4s;
            /*アニメーションの設定*/
            position: absolute;
            left: 22px;
            height: 1px;
            border-radius: 5px;
            color: $white;
            width: 50px;
        }
    }

}



/*--------------ナビゲーション-------------------*/

@include mq($lg) {
    .header-nav-sp {
        pointer-events: none;
        /*隠れている時は触れないようにしておく*/
        opacity: 0;
        /*はじめは透過0*/
        /*ナビの位置と形状*/
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100%;
        /*ナビの高さ*/
        background: $white;
        /*動き*/
        transition: all 0.3s ease;

        /*アクティブクラスがついたら透過なしにして最前面へ*/
        &.panelactive {
            pointer-events: auto;
            /*表示された時に解除する*/
            top: 0;
            opacity: 1;
            z-index: 3;
        }

        &__container {
            /*ナビの数が増えた場合縦スクロール*/
            width: 100%;
            height: 100dvh;
            /*表示する高さ*/
        }

        /*ナビゲーションの縦スクロール*/
        &__lists {
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }

        /*ナビゲーション*/
        &__lists {
            display: block;
            padding-top: 140px;
            text-align: center;

            @include mq($md) {
                padding-top: 93px;
            }

            &.panelactive {
                display: block;
            }
        }

        &__list {
            margin-bottom: 0;
            position: relative;

            & a {
                position: relative;
                display: flex;
                /* flexのままにする */
                justify-content: center;
                align-items: center;
                padding: 20px 0 15px;
                font-size: 1.25rem;

                @include mq($sp) {
                    font-size: 1rem;
                    padding: 16px 0 11px;
                }

                &:focus-visible {
                    border: 2px solid $l-blue;
                    transform: scale(1.025);
                }

                &:hover {
                    color: $blue;
                }

                & span {
                    position: relative;
                    display: flex;
                    /* 文字部分にのみ下線を適用するためにflexを維持 */
                    padding-bottom: 5px;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: $blue;
                        bottom: 0;
                        left: 0;
                        transform-origin: center;
                        transform: scaleX(0);
                        /* 初期状態で下線は見えない */
                        transition: transform .3s ease-in-out;
                    }
                }

                &:hover span::after {
                    transform: scaleX(1);
                    /* hover時に下線が文字の幅に広がる */
                }
            }

            &-mail::before {
                position: absolute;
                content: "";
                background: url(../images/top/mail-icon.svg) no-repeat center center / contain;
                width: 20px;
                height: 20px;
                top: 38%;
                left: -28%;
                transform: translateY(-50%);
                color: $black;
            }

        }

        &__copy-wrapper {
            text-align: center;
            padding: 6px 0;
        }

        &__copy {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1.0;
            color: $black;
        }
    }
}