@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;


/*------------------ローディング-------------------*/

.loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
}

.loading.is-active {
    opacity: 0;
    visibility: hidden;
}

.loading-animation {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & img {
        width: 260px;
    }
}

.loading-animation.is-active {
    opacity: 1;
    visibility: visible;
}

/*========= スクロールダウン===============*/


/*スクロールダウン全体の場所*/
.scrolldown1 {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    left: 40px;
    bottom: 85px;
    /*全体の高さ*/
    height: 50px;
    z-index: 2;

    @include mq($lg) {
        left: 70px;
    }

    @include mq($md) {
        left: 41px;
        bottom: 53px;
    }

}

/*Scrollテキストの描写*/
.scrolldown1 span {
    /*描画位置*/
    position: absolute;
    left: -22px;
    top: -15px;
    /*テキストの形状*/
    color: $blue;
    font-size: 0.625rem;
    white-space: nowrap;
    /* 1行で表示 */
}

/* 線の描写 */
.scrolldown1::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* 中央に位置を合わせる */
    /*線の形状*/
    width: 1px;
    height: 100px;
    background: $blue;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove 1.4s ease-in-out infinite;
    opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }

    30% {
        height: 100px;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 100px;
        opacity: 0;
    }
}

/* メディアクエリでアニメーションのプロパティを変更 */
@include mq($md) {
    .scrolldown1::after {
        height: 52px;
        animation: pathmoveSmall 1.4s ease-in-out infinite;
    }
}

/* 小さい画面用のアニメーション定義 */
@keyframes pathmoveSmall {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }

    30% {
        height: 52px;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 52px;
        opacity: 0;
    }
}


/*==================================================
ふわっ
===================================*/


/* fadeUp */

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* スクロールをしたら出現する要素にはじめに透過0を指定　*/

.fadeUpTrigger {
    opacity: 0;
}


/*==================================================
パタッ
===================================*/
/* 左へ */
.flipLeft {
    animation-name: flipLeftAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    perspective-origin: left center;
    opacity: 0;
}

@keyframes flipLeftAnime {
    from {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
        opacity: 0;
    }

    to {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
        opacity: 1;
    }
}

/*==================================================
じわっ
===================================*/

/* ぼかしから出現 */
.blur {
    animation-name: blurAnime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes blurAnime {
    from {
        filter: blur(10px);
        transform: scale(1.02);
        opacity: 0;
    }

    to {
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/

.blurTrigger {
    opacity: 0;
}