@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.btn--more {
    position: relative;
    display: inline-block;
    padding: 21px 0;
    width: 240px;
    font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
    color: $black;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid $black;
    text-align: center;

    @include mq($md) {
        letter-spacing: 0.08em;
        padding: 22px 0
    }


    &::after {
        content: "●";
        position: absolute;
        width: 10px;
        height: 10px;
        font-size: 0.625rem;
        top: 25px;
        right: 20px;

    }

    &:hover {
        color: $white;
        background-color: $black;
        opacity: 1.0;
    }
}

.contact__btn {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    background-color: $white;
    padding: 22px 40px 22px 68px;
    margin: 6px 0 2px 64px;
    width: 284px;

    @include mq(1300px) {
        margin-left: 24px;
    }

    @include mq($lg) {
        margin-left: 0;

    }

    @include mq($md) {
        margin-left: 0;
    }

    &::before {
        position: absolute;
        content: "";
        mask: url(../images/top/mail-icon.svg) no-repeat center center / contain;
        background-color: $black;
        width: 20px;
        height: 20px;
        top: 20px;
        left: 40px;
        z-index: 1;
        color: $white;
    }

    &::after {
        content: "●";
        position: absolute;
        width: 10px;
        height: 10px;
        font-size: 0.625rem;
        top: 25px;
        right: 21px;
    }

    &:hover {
        color: $white;
        background-color: $black;
        opacity: 1.0;

        &::before {
            background-color: $white;
        }
    }
}

.sub-intro__link-btn {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    width: 208px;
    border: 1px solid $blue;
    border-radius: 10px;
    padding: 11px 0 33px;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        right: 49%;
        top: 72%;
        transform: translateY(-50%) rotate(45deg);
        /* 45度回転させて右向き矢印を作成 */
        width: 5px;
        height: 5px;
        border-bottom: 2px solid $blue;
        border-right: 2px solid $blue;
    }
}

.submit__btn {
    position: relative;
    display: block;
    padding: 18px 0;
    margin: 0 auto;
    width: 284px;
    font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
    font-weight: 700;
    border-radius: 10px;
    color: $white;
    background-color: $blue;
    border: 1px solid $blue;
    text-align: center;

    &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $white;
        top: 25px;
        right: 21px;
    }

    &:hover {
        color: $blue;
        background-color: $white;
        opacity: 1.0;
    }
}

.contact-sub__btn {
    position: relative;
    display: inline-block;
    padding: 22px 0;
    width: 284px;
    font-size: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
    font-weight: 700;
    border-radius: 10px;
    color: $white;
    background-color: $blue;
    border: 3px solid $blue;
    text-align: center;
    margin: 46px 0 130px;

    @include mq($md) {
        margin: 20px 0 40px;
    }

    &::after {
        content: "●";
        position: absolute;
        width: 10px;
        height: 10px;
        font-size: 0.625rem;
        top: 25px;
        right: 20px;

    }

    &:hover {
        color: $blue;
        background-color: $white;
        opacity: 1.0;
    }
}

.thanks__btn {
    margin: 46px 0 105px;
}