@use "../../abstracts/variables" as *;
@use "../../abstracts/mixin" as *;

.contact {
    background-color: $gray;
    border-radius: 50px 0px 0px 50px;

    @include mq($lg) {
        border-radius: 0;
    }

    &-inner {
        padding: 32px 20px 53px 24px;

        @include mq($md) {
            padding: 26px 20px 39px;
        }

    }

    &__ttl {
        margin-bottom: 39px;

        &__ttl-en {
            margin-bottom: 39px;
        }

        &::after {
            background: url(../images/top/financing.png) no-repeat center center / contain;
            content: "";
            position: absolute;
            width: 175px;
            height: 256px;
            z-index: 2;
            right: 40px;
            bottom: 78px;

            @include mq(1300px) {
                width: 130px;
                bottom: 110px;
            }

            @include mq($lg) {
                width: 100px;
                right: 3%;
                bottom: 100px;
            }

            @include mq($md) {
                right: 10%;
                width: 100px;
                bottom: 240px;
            }

            @include mq($sp) {
                right: 6%;
                width: 59px;
                bottom: 305px;
            }
        }
    }

    &-wrapper {
        display: flex;
        flex-wrap: wrap;

        @include mq($lg) {
            gap: 24px;
        }

        @include mq($md) {
            flex-direction: column;
            gap: 0;
        }
    }

    &__tel {
        border-right: 1px solid $black;
        padding: 0 32px 0 0;
        line-height: 1.0;

        @include mq(1300px) {
            padding: 0 24px 0 0;
        }

        @include mq($lg) {
            padding: 0 32px 0 0;
        }

        @include mq($md) {
            border-right: none;
            border-bottom: 1px solid $black ;
            display: flex;
            gap: 16px;
            padding-bottom: 16px;
        }
    }

    &__number {
        border-right: 1px solid $black;
        padding: 0 32px 8px;
        line-height: 1.0;

        @include mq(1300px) {
            padding: 0 24px;
        }

        @include mq($lg) {
            padding: 0 32px 0 8px;
        }

        @include mq($md) {
            border-right: none;
            padding: 15px 0 30px;
        }
    }

    &__tel-content,
    &__number-content {
        font-family: "Kanit", sans-serif;
        font-size: 2rem;
        font-weight: 400;

        &--small {
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 1.0;
        }
    }

    &__tel-content--small {
        padding-top: 0;

        @include mq($md) {
            padding-top: 23px;
        }
    }
}